<div class="bg-white rounded-2xl shadow-sm p-6 border border-gray-200">

    <!-- Título -->
    <div class="text-xs uppercase tracking-wider text-gray-500">
      {{ monthName }}
    </div>
  
    <!-- Total acumulado (points) -->
    <div class="mb-2">
        <div class="text-sm text-gray-500">Total acumulado:</div>
        <div class="text-2xl font-bold text-gray-700">
        {{ totalPoints | number:'1.0-2' }} pts
        </div>
    </div>

    <!-- Resultado financeiro -->
    <div class="mb-4">
        <div class="text-sm text-gray-500">Resultado:</div>
        <div
        class="text-xl font-semibold"
        [class.text-green-500]="totalResult >= 0"
        [class.text-red-500]="totalResult < 0">
        {{ totalResult | currency:'BRL':'symbol':'1.2-2' }}
        </div>
    </div>
  
    <!-- Meta -->
    <div class="mt-6">
      <div class="text-sm text-gray-500">
        Meta mensal:
      </div>
  
      <div class="text-lg font-medium text-gray-800">
        {{ monthlyGoal }} pts ({{ progressPercent | number:'1.0-0' }}%)
      </div>
  
      <!-- Barra -->
      <div class="mt-2 w-full h-2 bg-gray-200 rounded-full overflow-hidden">
        <div
          class="h-full transition-all duration-500"
          [ngClass]="totalPoints >= monthlyGoal ? 'bg-green-500' : 'bg-blue-500'"
          [style.width.%]="progressPercent">
        </div>
      </div>
    </div>
  
    <!-- Média -->
    <div class="mt-6">
      <div class="text-sm text-gray-500">
        Média semanal:
      </div>
  
      <div class="text-lg font-medium text-gray-800">
        {{ weeklyAverage | number:'1.0-0' }} pts
      </div>
    </div>
  
    <!-- Status -->
    <div class="mt-6 border-t pt-4 border-gray-200">
      <div class="text-sm font-semibold tracking-wide">
        STATUS MENSAL:
      </div>
  
      <div class="text-sm mt-1 font-medium"
           [ngClass]="statusClass">
        {{ statusLabel }}
      </div>
    </div>
  
  </div>
