<div class="min-h-screen bg-[#004aad] text-white px-4 py-6">

  <header class="mb-6">
    <img src="/images/OPX_logo_escuro.png" alt="Logomarca do sistema" class="max-w-full h-auto mx-auto">
    <h1 class="text-2xl font-bold">
      Fevereiro 2026
    </h1>
    <p class="text-sm text-neutral-400">
      Performance Semanal
    </p>
  </header>

  <section  *ngIf="currentWeek as week">
    <app-week-hero [week]="week"></app-week-hero>
  </section>
  <section>
    <div *ngIf="currentMonth as month">

      <div class="flex items-center justify-between mb-4">
    
        <button
          (click)="goToPreviousMonth()"
          [disabled]="selectedMonthIndex === 0"
          class="px-3 py-1 bg-gray-700 rounded disabled:opacity-40">
          ←
        </button>
    
        <h2 class="text-lg font-bold tracking-wide">
          {{ month.monthName }}
        </h2>
    
        <button
          (click)="goToNextMonth()"
          [disabled]="selectedMonthIndex === months.length - 1"
          class="px-3 py-1 bg-gray-700 rounded disabled:opacity-40">
          →
        </button>
    
      </div>
    
      <app-month-summary
        [weeks]="month.weeks"
        [monthName]="month.monthName"
        [monthlyGoal]="8000">
      </app-month-summary>
    
    </div>
  
  </section>

  <section>
    <div *ngIf="bestWeekday">

      <h3>Melhor Dia da Semana</h3>
      <p>{{ getWeekdayName(bestWeekday.weekday) }}</p>

      <p>
        Média: {{ bestWeekday.average | number:'1.0-2' }}
      </p>

    </div>
  </section>

</div>
